.main-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mainpage-rays {
  position: fixed !important;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mainpage-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .mainpage-content {
    padding: 10px;
  }
}
